.ks-l-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @media (min-height: 666px) {
    background: url("/assets/images/lads.png") no-repeat center bottom;
  }

  @media (min-height: 925px) {
    background-size: 1050px;
  }

  @media (max-width: 800px) {
    background-size: 120%;
  }
}
