.ks-l-main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .ks-page--home & {
    margin-bottom: 30px;
  }

  @media (min-height: 785px) {
    height: 220px;
    overflow: hidden;
  }
}
