.ks-mailing {
  text-transform: uppercase;
  font-size: 1rem;
  margin: auto 0 0;

  .mce_inline_error:not(input) {
    width: 100%;
    color: red;
    order: 0;
  }

  .response,
  .mce_inline_error:not(input) {
    text-transform: none;
    margin: -15px 0 10px;
  }

  @media (max-width: 767px) {
    &:not(.ks-mailing--home) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 684px) {
    body[class*="ks-page--"]:not(.ks-page--home) & {
      display: none;
    }
  }
}

.ks-mailing__title {
  margin: 0;
  font-size: 1.25em;
}

.ks-mailing__tags {
  font-size: 0.875em;
  color: #b3b3b3;
  margin: 0.625em 0 1.25em;
}
