{% import "./../field-group/field-group.html" as fieldGroup %}

{% macro template(class='') %}

<div class="ks-mailing {{ class }}">
  <h2 class="ks-mailing__title">Can we spam you?</h2>
  <p class="ks-mailing__tags">#nakedshins</p>

  <form
    action="//kindredshins.us8.list-manage.com/subscribe/post?u=2287542f135a4c343c3fe4250&amp;id=4d6c5b16c3"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank">

    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>

    <!-- Spam bot prevention - do not remove -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_2287542f135a4c343c3fe4250_4d6c5b16c3" tabindex="-1" value="">
    </div>

    {{ fieldGroup.template(
      name='EMAIL',
      type='email',
      placeholder='e.g. jane@gmail.com',
      buttonText='Yes',
      class='mc-field-group') }}
  </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function($) { window.fnames = ['EMAIL']; window.ftypes = ['email']; }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>

{% endmacro %}
