{% macro template(items='') %}
  <ol class="ks-feed">{{ items }}</ol>
{% endmacro %}

{% macro item(title='', date='', content='', moment='', typogr='') %}
  {% set mDate = moment.utc(date) %}

  <li class="ks-feed__item">
    <time class="ks-feed__date" datetime="{{ mDate.format('YYYY-MM-DD') }}">
      <span class="ks-feed__day">{{ typogr(mDate.format('Do')).typogrify() }}</span>
      <span class="ks-feed__month">{{ mDate.format('MMM') }}</span>
      <span class="ks-feed__year">{{ mDate.format('YYYY') }}</span>
    </time>
    <div class="ks-feed__body">
      <h3 class="ks-feed__title">{{ title }}</h3>

      {% if content %}
        {{ content }}
      {% endif %}
    </div>
  </li>
{% endmacro %}
