$photos-horizontal-breakpoint-small: 600px;
$photos-horizontal-breakpoint-medium: 768px;
$photos-horizontal-breakpoint-large: 900px;

.ks-photos {
  display: flex;
  flex-wrap: wrap;
}

.ks-photos__item {
  flex: 0 0 50%;

  @media (min-width: $photos-horizontal-breakpoint-small) {
    flex: 0 0 33%;
  }

  @media (min-width: $photos-horizontal-breakpoint-medium) and (max-width: $photos-horizontal-breakpoint-large) {
    flex: 0 0 50%;
  }
}
