.ks-frame {
  background-color: #101216;
  outline: 1px solid #25272A;
  text-align: center;

  .ks-page--videos & {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
