.ks-field-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ks-field-group__field {
  flex: 1 1 0%;

  & + & {
    margin-left: -1px;
  }
}

.ks-field-group__field--button {
  border-left-color: transparent;
  flex: 0 0 auto;

  &:focus {
    border-left-color: #363636;
  }

  .ks-field-group__field--input:focus + & {
    border-color: #555;
    border-left-color: transparent;
  }
}
