{% import "./../input/input.html" as input %}
{% import "./../button/button.html" as button %}

{% macro template(type='', name='', placeholder='', buttonText='', value='', type='text', class='') %}

  <div class="ks-field-group {{ class }}">
    {{ input.template(
        name=name,
        type=type,
        placeholder=placeholder,
        value=value,
        class='ks-field-group__field ks-field-group__field--input') }}
    {{ button.template(buttonText, class='ks-field-group__field ks-field-group__field--button') }}
  </div>

{% endmacro %}
