@import "styles/mixins";

.ks-footer {
  flex: 0 0 auto;
  background: #000;
  border-bottom: 1px solid #222;
}

.ks-footer__nav {
  @include reset-list;
  @include u-content;

  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  min-height: 60px;
}

.ks-footer__nav-item {
  flex: 0 0 auto;
}

.ks-footer__nav-link {
  color: #fff;
  fill: #000;
  text-decoration: none;
  display: block;
  margin: 0.3125em 0.625em;
}
