{% import "./../icon/icon.html" as icon %}

{% macro template(section) %}

<footer class="ks-footer">
  <ul class="ks-footer__nav">
    <li class="ks-footer__nav-item ks-footer__nav-item--internal">
      <a
        {% if section !== 'merch' %}href="#/merch"{% endif %}
        class="ks-footer__nav-link">
        Merch
      </a>
    </li>
    <li class="ks-footer__nav-item">
      <a href="https://www.instagram.com/kindredshins/" class="ks-footer__nav-link">
        {{ icon.template('instagram') }}
      </a>
    </li>
    <li class="ks-footer__nav-item">
      <a href="https://www.facebook.com/kindred.shins.1/" class="ks-footer__nav-link">
        {{ icon.template('facebook') }}
      </a>
    </li>
    <li class="ks-footer__nav-item">
      <a href="https://twitter.com/kindredshins" class="ks-footer__nav-link">
        {{ icon.template('twitter') }}
      </a>
    </li class="ks-footer__nav-item">
    <li class="ks-footer__nav-item">
      <a href="https://soundcloud.com/kindredshins" class="ks-footer__nav-link">
        {{ icon.template('soundcloud') }}
      </a>
    </li>
    <li class="ks-footer__nav-item">
      <a href="https://www.youtube.com/channel/UCB7dC0WRwZL9HqUdmZGHP3A" class="ks-footer__nav-link">
        {{ icon.template('youtube') }}
      </a>
    </li>
    <li class="ks-footer__nav-item ks-footer__nav-item--internal">
      <a
        {% if section !== 'contact' %}href="#/contact"{% endif %}
        class="ks-footer__nav-link">
        Contact
      </a>
    </li>
  </ul>
</footer>

{% endmacro %}
