@import "styles/mixins";

.ks-player {
  position: absolute;
  top: -12px;
  right: 10px;
  transform: translate(0, -100%);

  z-index: 10;
  display: flex;
  align-items: center;
  font-size: 1rem;

  @media (min-width: 685px) {
    top: 0;
    right: auto;
    left: 50%;
    transform: translate(-50%, -55%);
    margin-left: -7px;
  }
}

.ks-player__title {
  @include visually-hidden;
}

.ks-player__track {
  margin: 0;
  position: absolute;
  white-space: nowrap;
  opacity: .3;
  text-transform: uppercase;

  @media (max-width: 684px) {
    display: none;
  }

  @media (min-width: 685px) {
    top: -0.5em;
    left: 50%;
    right: auto;
    transform: translate(-50%, -100%);
  }
}

.ks-player__btn {
  position: relative;
  border-radius: 100%;
  border-color: #000;
  width: 2.5em;
  height: 2.5em;

  .ks-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
  }
}

.ks-player__btn--play {
  .ks-player--playing & {
    display: none;
  }

  .ks-icon {
    margin-left: 0.2em;
  }
}

.ks-player__btn--pause {
  .ks-player:not(.ks-player--playing) & {
    display: none;
  }
}

.ks-player__btn--play,
.ks-player__btn--pause {
  margin: 0 0.375em;

  @media (min-width: 685px) {
    width: 4.375em;
    height: 4.375em;

    .ks-icon {
      width: 1.875em;
      height: 1.875em;
    }
  }
}
