{% import "./../button/button.html" as button %}
{% import "./../icon/icon.html" as icon %}

{% macro template() %}

<section class="ks-player">
  <h2 class="ks-player__title">Listen</h2>
  {{ button.template(icon.template('previous-track'), class='ks-player__btn ks-player__btn--prev') }}
  {{ button.template(icon.template('play'), class='ks-player__btn ks-player__btn--play') }}
  {{ button.template(icon.template('pause'), class='ks-player__btn ks-player__btn--pause') }}
  {{ button.template(icon.template('next-track'), class='ks-player__btn ks-player__btn--next') }}
</section>

{% endmacro %}
