@import "styles/mixins";

.ks-box {
  background: rgba(0,0,0,0.7);
  flex: 1 1 100%;
  position: relative;
  display: flex;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    left: 0;
  }

  &::after {
    background: linear-gradient(to bottom, rgba(0,0,0,0), #000);
    bottom: 0;
  }

  @media (min-width: 768px) {
    &::before {
      background: linear-gradient(to top, rgba(0,0,0,0), #000);
      top: 0;
    }
  }
}

.ks-box__inner {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/**
 * 1. Bring sidebar above scroll fader at top and bottom of box
 */
.ks-box__sidebar {
  flex: 0 0 auto;
  border: 1px solid rgba(255,255,255,.1);
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  text-align: center;
  position: relative; /* 1 */
  margin: 30px 20px 0;
  z-index: 1;

  @media (min-width: 768px) {
    border-bottom-width: 0;
    border-right-width: 1px;
    flex-direction: row;
    width: 280px;
    /*max-width: 280px;*/
    padding: 0 40px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
  }
}

.ks-box__body {
  @include scrollbar;

  flex: 1 1 auto;
  overflow-y: auto;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 40px;
  }
}
