{% import "./components/page-header/page-header.html" as pageHeader %}
{% import "./components/thumbnails/thumbnails.html" as thumbnails %}
{% import "./components/mailing/mailing.html" as mailing %}
{% import "./components/box/box.html" as box %}
{% import "./components/frame/frame.html" as frame %}
{% import "./components/feed/feed.html" as feed %}
{% import "./components/button/button.html" as button %}
{% extends "./layout.html" %}

{% block main %}
  {% set sidebar %}
    {{ pageHeader.template(page.title, name) }}
    {{ mailing.template() }}
  {% endset %}

  {% set body %}
    {% set feedItems %}
      {% set getContent = _.map('index') %}
      {% set gigs = getContent(contents.live._.directories) %}
      {% set pastGigs = env.helpers.past(gigs) %}
      {% set presentGigs = env.helpers.present(gigs) %}

      <h2>Upcoming gigs</h2>

      {% for gig in presentGigs %}
        {% set content %}
          {% if gig.html %}
            {{ typogr(gig.html).typogrify() }}
          {% endif %}

          <p class="ks-location">{{ gig.metadata.location }}</p>
          <p>Get tickets for <b class="ks-highlight">{{ gig.metadata.price }}</b></p>

          {% if gig.metadata.info %}
            {{ button.template('More info', href=gig.metadata.info) }}
          {% endif %}

          {% if gig.metadata.tickets %}
            {{ button.template('Tickets', href=gig.metadata.tickets) }}
          {% endif %}
        {% endset %}

        {{ feed.item(gig.title, gig.date, content, moment, typogr) }}
      {% endfor %}

      <h2>Past gigs</h2>

      {% for gig in pastGigs %}
        {% set content %}
          {% if gig.html %}
            {{ typogr(gig.html).typogrify() }}
          {% endif %}

          <p class="ks-location">{{ gig.metadata.location }}</p>
          <p>Tickets were <b class="ks-highlight">{{ gig.metadata.price }}</b></p>

          {% if gig.metadata.info %}
            {{ button.template('More info', href=gig.metadata.info) }}
          {% endif %}
        {% endset %}

        {{ feed.item(gig.title, gig.date, content, moment, typogr) }}
      {% endfor %}
    {% endset %}

    {{ feed.template(feedItems) }}
  {% endset %}

  {{ box.template(body, sidebar) }}
{% endblock %}
