{% import "./components/page-header/page-header.html" as pageHeader %}
{% import "./components/thumbnails/thumbnails.html" as thumbnails %}
{% import "./components/mailing/mailing.html" as mailing %}
{% import "./components/box/box.html" as box %}
{% import "./components/frame/frame.html" as frame %}
{% extends "./layout.html" %}

{% set media = contents[page.metadata.section] %}
{% set items = _.sortBy(_.get('index.metadata.order'), media._.directories) %}
{% set firstMedia = items | first %}
{% set isMediaHome = media.index.title === page.title %}

{% block main %}
  {% set sidebar %}
    {{ pageHeader.template(media.index.title, name) }}

    {% set thumbnailItems %}
      {% for item in items %}
        {% set isActive = true if isMediaHome and loop.first else page.url === item.index.url %}

        {{ thumbnails.item(item, 66, 62, isActive) }}
      {% endfor %}
    {% endset %}

    {{ thumbnails.template(thumbnailItems) }}

    {{ mailing.template() }}
  {% endset %}

  {% set body %}
    {% set content = firstMedia.index.html if isMediaHome else page.html %}

    {{ frame.template(content) }}
  {% endset %}

  {{ box.template(body, sidebar) }}
{% endblock %}
